@use "../global/" as *;

/* ------------------------------------------------------------

Works

------------------------------------------------------------ */

.worksDetail {
    h2 {
        font-size: $fz-lg;
        padding: $space-lg 0 $space-md;
    }

    &__video {
        max-height: 80vh;

        @include mq767 {
            max-height: unset;
        }
    }

    &__desc {
        max-width: 34rem;
        display: flex;
        flex-direction: column;
        row-gap: $space-sm;
        padding-bottom: $space-md;
        position: relative;

        &::before {
            content: "";
            display: block;
            background-color: $color-text-primary;
            width: 1.6rem;
            height: 0.1rem;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__info {
        max-width: 34rem;
        display: flex;
        flex-direction: column;
        row-gap: $space-xs;
        padding-top: $space-lg;
    }

    &__external{
        padding-top: $space-xxl;

        a {
            display: inline-block;
            padding: $space-xs 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}