@use "../global/" as *;

/* ------------------------------------------------------------

コンテナ

------------------------------------------------------------ */

.u-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    @include mq767 {
        gap: 4rem;
    }

    &__unit{
        display: flex;

        @include mq767{
            flex-direction: column;
            gap: 2.4rem;
        }
    }

    &__head{
        width: 20%;
        flex: none;

        @include mq767{
            width: 100%;
        }
    }

    &__contents{
        flex: 1;
    }
}